@import url('/reset.less');

/* COLOR PALETTE*/
@eggshell: #efe6cf;
@chocolate: #5b4d44;
@bg: #353b3d;
@bg_buy_one: #4d6b77;

.absolute{
	position: absolute;
}
.fixed{
	position: fixed !important;
}
.block{
	display: block;
}
.center{
	text-align: center;
}
.clearfix{
	clear: both;
}
.inlineblock{
	display: inline-block;
}
.left{
	float: left;
}
.right{
	float: right;
}
hr{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #414141;
	padding-bottom: 15px;
}
*{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: @eggshell;
}
h1{
	font-size: 45px;
	font-weight: 600;
	text-transform: uppercase;
}
h2{
	font-size: 30px;
	font-weight: 400;
}
h3{
	font-size: 14px;
	font-weight: 300;
}
p{
	font-size: 12px;
	font-weight: 300;
}

.clearfix{
	clear:both;
} // clearfix

.transition{
	-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
} // transition

.fasttransition{
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
	-ms-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
} // fasttransition

.notransition{
	-webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
	-ms-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
} // notransition

.borderradius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}



/* BODY */
body{
	.back{
		.block;
		.absolute;
		padding: 5px 9px;
		border: 1px solid @eggshell;
		.borderradius(2px);
		margin: 5px 3px;
		font-size: 14px;
		.transition;
	}
	.back:hover{
		background: rgba(91,77,68,0.3);
	}
	.coffee_cup{
		background: transparent url('/img/coffee_cup.png') center center no-repeat;
		background-size: contain;
		padding: 40px;
		margin: 15px auto;
	}
	.dash{
		width: 100%;
		padding-top: 10px;
	}
	#login-buttons{ 
		.configure-button{
			background: none !important;
			box-shadow: none !important;
			border: 0px;
			text-shadow: none;
		}
		.login-image{
			display: none !important;
		}
		.text-besides-image{
			margin: 0px;
		}
	}//login-buttons
	.login_wrapper{
		.block;
		margin: auto;
		background: @bg url('/img/login/login_bg.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.login_logo{
			.block;
			padding: 90px 0px 40px 0px;
			.center;
			#logo_graphic{
				width: 40px;
				.block;
				margin: 0 auto;
			}//logo_title
			#logo_title{
				.block;
				width: 140px;
				margin: 0 auto;
				padding: 15px 0px 10px;
			}//logo_title
		}//login_logo
		.login_input{
			.block;
			text-align: center;
			#login_user, #login_store{
				.block;
				margin: 6px auto;
				padding: 20px 30px;
				width: 60%;
				.borderradius(2px);
				font-weight: 500;
			}
			#login_user{
				background-color: rgba(239,230,207,0.3);
				.fasttransition;
			}
			#login_user:hover{
				background-color: rgba(239,230,207,0.45);
				.fasttransition;
			}
			#login_store{
				background-color: @eggshell;
				.fasttransition;
				color: @chocolate;
			}
			#login_store:hover{
				background-color: rgba(239,230,207,0.7);
				.fasttransition;
			}
			input {
				padding: 18px 0px;
				background-color: rgba(239,230,207,0.15);
				margin: 3px auto;
				.center;
				.borderradius(2px);
				width: 80%;
				font-size: 14px;
				border: 1px solid rgba(202, 202, 202, 0.25);

			}
			input[type="submit"]{
				background-color: transparent;
				border: 1px solid @eggshell;
				font-size: 14px;
			}
			input[type="submit"]:hover{
				background: rgba(91, 77, 68, 0.2);
			}
		}//login_input
		#copyright{
			.block;
			.absolute;
			bottom: 10px;
			text-align: center;
			margin: 0 auto;
			font-size: 11px;
			width: 400px;
			left: 50%;
			margin-left: -200px;
		}
	}//login_wrapper
	.dashboard_wrapper{
		.block;
		background: @bg url('/img/dash_bg.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.center;
		#section_divider{
			width:100%;
			margin-top: 20px;
		}//section_divider
		.profile_header{
			.block;
			padding-top: 40px;
			p{
				padding: 10px 0px;
			}
			.profile_pic{
				width: 75px;
				height: 75px;
				overflow: hidden;
				margin: 0px auto;
				.borderradius(50%);
				img{
					width: 100%;
				}
			}//profile_pic
		}//profile_header
		.quick_brew{
			ul{
				.block;
				width: 100%;
				overflow-x: hidden;
				li{
					.inlineblock;
					margin: 5px 10px;
					p{
						font-size: 12px;
						span{
							font-weight: 600;

						}
					}//p
				}//li
			}//ul
		}//quick_brew
		.user_notification{
			.block;
			margin: 10px auto;
			.notification_wrapper{
				.block;
				.borderradius(2px);
				padding: 17px 17px 10px 17px;
				background: rgba(239,230,207,0.15);
				width: 80%;
				margin: 25px auto;
				li{
					.block;
					margin-bottom: 8px;
					img{
						.inlineblock;
						width: 15px;
						float: left;
						text-align: left;
					}
					p{
						.inlineblock;
						text-align: left;
						font-size: 12px;
						vertical-align: top;
						width: 80%;
						line-height: 11px;
						span{
							font-size: 10px;
							font-style: italic;
						}
					}//p
				}//li
			}//notification_wrapper
		}//user_notification
	}//dashboard_wrapper
	.order_wrapper{
		.block;
		//background: @bg_buy_one;
		width: 100%;
		height: 100vh;
		.center;
		#buy_one{
			background: @bg_buy_one;
		}//buy_one
		#buy_confirm{
			background: #353b3d;
			.confirm_item{
				padding: 40px 40px 30px;
				.coffee_cup{
					margin-top: 0px;
				}
			}//confirm_item
			.item_price{
				.block;
				padding: 10px;
				background: rgba(239,230,207,0.15);
				#coffee_graphic{
					width: 15px;
				}
				#coffee_purchase{
					height: 10px;
				}
				h2{
					.block;
					padding: 5px;
					font-weight: 200;
					font-size: 45px;
					margin-top: -12px;
				}
			}//item_price
			#brew_coffee{
				width: 25%;
				margin: 40px auto 0;
				border: 2px solid rgba(239,230,207,0.4);
				padding: 18px 35px;
			}
		}//buy_confirm
		.buy_process{
			height: 100vh;
			.buy_header{
				.block;
				padding: 30px 0px 10px 0px;
				width: 70%;
				margin: 0 auto;
				border-bottom: 1px solid rgba(239,230,207,0.15);
				img{
					width: 40px;
				}
			}//buy_header
			ul{
			margin: 25px auto;
				li{
					.block;
					padding: 17px 0px;
					width: 80%;
					margin: 0 auto;
				}//li
				.active{
					border: 1px solid rgba(239,230,207,0.15);
				}//active
			}//ul
		}//buy_process
	}//order_wrapper
	.profile_wrapper{
		.block;
		background: @bg url('/img/dash_bg.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.center;
		.profile_header{
			.block;
			padding-top: 20px;
			p{
				width: 80%;
				padding: 10px 0px;
				margin: auto;
				border-bottom: 1px solid rgba(239,230,207,0.15);
			}
			.profile_pic{
				width: 75px;
				height: 75px;
				overflow: hidden;
				margin: 0px auto;
				.borderradius(50%);
				img{
					width: 100%;
				}
			}//profile_pic
		}//profile_header
		.coffee_edit{
			.block;
			width: 95%;
			li{
				.inlineblock;
				width: 45%;
				.coffee_cup,p{
					.inlineblock;
					width: 30%;
					vertical-align: middle;
					margin: 7px auto;
				}
				.coffee_cup{
					padding:25px;
				}
				p{
					width: 60%;
					vertical-align: middle;
				}
			}//li
		}//coffee_edit
		
		img#profile_stats{
			width: 75%;
			margin: 25px auto 5px;
		}
		.profile_cc{
			p{
				.inlineblock;
			}
			#credit_card{
				padding: 15px 30px;
				background: rgba(239,230,207,0.2);
				margin: 15px 2px 0px 10px;
			}
			#credit_edit{
				border: 1px solid rgba(239,230,207,0.6);
				padding: 13px;
			}
		}//profile_cc
		.logout{
			.inlineblock;
			padding: 10px 30px;
			border: 1px solid rgba(239, 230, 207, 0.6);
			margin: 40px auto 0;
			font-size: 12px;
		}//logout
	}//profile_wrapper
	.brewlist_wrapper{
		.block;
		background: @bg url('/img/dash_bg.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.center;
		.profile_header{
			.block;
			padding-top: 20px;
			p{
				width: 80%;
				padding: 10px 0px;
				margin: auto;
			}//p			
			.profile_pic{
				width: 75px;
				height: 75px;
				overflow: hidden;
				margin: 0px auto;
				.borderradius(50%);
				img{
					width: 100%;
				}//img
			}//profile_pic
		}//profile_header
		ul#brewlist{
			display:table;
			margin: 10px auto;
			width: 90%;
			li{
				display: table-row;
				padding: 10px;
				margin: 2px auto;
				.borderradius(3px);
				.brew_cell{
					display: table-cell;
					padding: 9px 10px;
					background: rgba(239, 230, 207, 0.15);
					font-size: 11px;
					vertical-align: middle;
					border-bottom: 5px solid @bg;
				}//brew_cell
				img{
					width: 12px;
				}
			}//li
		}//brewlist
		.brew_complete{
			.inlineblock;
			padding: 10px 30px;
			border: 1px solid rgba(239, 230, 207, 0.6);
			margin: 40px auto 0;
			font-size: 12px;
		}
	}//brewlist_wrapper
}//body
