@import url(http://fonts.googleapis.com/css?family=Raleway:100,200);
@font-face {
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 400;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
::selection {
  background: #58d3e5;
  color: #ffffff;
}
::-moz-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-o-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-ms-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-webkit-selection {
  background: #58d3e5;
  color: #ffffff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body,
html {
  background: white;
  font-family: 'Raleway' sans-serif;
}
img {
  -webkit-touch-callout: none;
}
/* COLOR PALETTE*/
.absolute {
  position: absolute;
}
.fixed {
  position: fixed !important;
}
.block {
  display: block;
}
.center {
  text-align: center;
}
.clearfix {
  clear: both;
}
.inlineblock {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #414141;
  padding-bottom: 15px;
}
* {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #efe6cf;
}
h1 {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 14px;
  font-weight: 300;
}
p {
  font-size: 12px;
  font-weight: 300;
}
.clearfix {
  clear: both;
}
.transition {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.fasttransition {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.notransition {
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  -ms-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
/* BODY */
body .back {
  display: block;
  position: absolute;
  padding: 5px 9px;
  border: 1px solid #efe6cf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 5px 3px;
  font-size: 14px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
body .back:hover {
  background: rgba(91, 77, 68, 0.3);
}
body .coffee_cup {
  background: transparent url('/img/coffee_cup.png') center center no-repeat;
  background-size: contain;
  padding: 40px;
  margin: 15px auto;
}
body .dash {
  width: 100%;
  padding-top: 10px;
}
body #login-buttons .configure-button {
  background: none !important;
  box-shadow: none !important;
  border: 0px;
  text-shadow: none;
}
body #login-buttons .login-image {
  display: none !important;
}
body #login-buttons .text-besides-image {
  margin: 0px;
}
body .login_wrapper {
  display: block;
  margin: auto;
  background: #353b3d url('/img/login/login_bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
body .login_wrapper .login_logo {
  display: block;
  padding: 90px 0px 40px 0px;
  text-align: center;
}
body .login_wrapper .login_logo #logo_graphic {
  width: 40px;
  display: block;
  margin: 0 auto;
}
body .login_wrapper .login_logo #logo_title {
  display: block;
  width: 140px;
  margin: 0 auto;
  padding: 15px 0px 10px;
}
body .login_wrapper .login_input {
  display: block;
  text-align: center;
}
body .login_wrapper .login_input #login_user,
body .login_wrapper .login_input #login_store {
  display: block;
  margin: 6px auto;
  padding: 20px 30px;
  width: 60%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: 500;
}
body .login_wrapper .login_input #login_user {
  background-color: rgba(239, 230, 207, 0.3);
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
body .login_wrapper .login_input #login_user:hover {
  background-color: rgba(239, 230, 207, 0.45);
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
body .login_wrapper .login_input #login_store {
  background-color: #efe6cf;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  color: #5b4d44;
}
body .login_wrapper .login_input #login_store:hover {
  background-color: rgba(239, 230, 207, 0.7);
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
body .login_wrapper .login_input input {
  padding: 18px 0px;
  background-color: rgba(239, 230, 207, 0.15);
  margin: 3px auto;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 80%;
  font-size: 14px;
  border: 1px solid rgba(202, 202, 202, 0.25);
}
body .login_wrapper .login_input input[type="submit"] {
  background-color: transparent;
  border: 1px solid #efe6cf;
  font-size: 14px;
}
body .login_wrapper .login_input input[type="submit"]:hover {
  background: rgba(91, 77, 68, 0.2);
}
body .login_wrapper #copyright {
  display: block;
  position: absolute;
  bottom: 10px;
  text-align: center;
  margin: 0 auto;
  font-size: 11px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
}
body .dashboard_wrapper {
  display: block;
  background: #353b3d url('/img/dash_bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}
body .dashboard_wrapper #section_divider {
  width: 100%;
  margin-top: 20px;
}
body .dashboard_wrapper .profile_header {
  display: block;
  padding-top: 40px;
}
body .dashboard_wrapper .profile_header p {
  padding: 10px 0px;
}
body .dashboard_wrapper .profile_header .profile_pic {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body .dashboard_wrapper .profile_header .profile_pic img {
  width: 100%;
}
body .dashboard_wrapper .quick_brew ul {
  display: block;
  width: 100%;
  overflow-x: hidden;
}
body .dashboard_wrapper .quick_brew ul li {
  display: inline-block;
  margin: 5px 10px;
}
body .dashboard_wrapper .quick_brew ul li p {
  font-size: 12px;
}
body .dashboard_wrapper .quick_brew ul li p span {
  font-weight: 600;
}
body .dashboard_wrapper .user_notification {
  display: block;
  margin: 10px auto;
}
body .dashboard_wrapper .user_notification .notification_wrapper {
  display: block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 17px 17px 10px 17px;
  background: rgba(239, 230, 207, 0.15);
  width: 80%;
  margin: 25px auto;
}
body .dashboard_wrapper .user_notification .notification_wrapper li {
  display: block;
  margin-bottom: 8px;
}
body .dashboard_wrapper .user_notification .notification_wrapper li img {
  display: inline-block;
  width: 15px;
  float: left;
  text-align: left;
}
body .dashboard_wrapper .user_notification .notification_wrapper li p {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  vertical-align: top;
  width: 80%;
  line-height: 11px;
}
body .dashboard_wrapper .user_notification .notification_wrapper li p span {
  font-size: 10px;
  font-style: italic;
}
body .order_wrapper {
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
}
body .order_wrapper #buy_one {
  background: #4d6b77;
}
body .order_wrapper #buy_confirm {
  background: #353b3d;
}
body .order_wrapper #buy_confirm .confirm_item {
  padding: 40px 40px 30px;
}
body .order_wrapper #buy_confirm .confirm_item .coffee_cup {
  margin-top: 0px;
}
body .order_wrapper #buy_confirm .item_price {
  display: block;
  padding: 10px;
  background: rgba(239, 230, 207, 0.15);
}
body .order_wrapper #buy_confirm .item_price #coffee_graphic {
  width: 15px;
}
body .order_wrapper #buy_confirm .item_price #coffee_purchase {
  height: 10px;
}
body .order_wrapper #buy_confirm .item_price h2 {
  display: block;
  padding: 5px;
  font-weight: 200;
  font-size: 45px;
  margin-top: -12px;
}
body .order_wrapper #buy_confirm #brew_coffee {
  width: 25%;
  margin: 40px auto 0;
  border: 2px solid rgba(239, 230, 207, 0.4);
  padding: 18px 35px;
}
body .order_wrapper .buy_process {
  height: 100vh;
}
body .order_wrapper .buy_process .buy_header {
  display: block;
  padding: 30px 0px 10px 0px;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(239, 230, 207, 0.15);
}
body .order_wrapper .buy_process .buy_header img {
  width: 40px;
}
body .order_wrapper .buy_process ul {
  margin: 25px auto;
}
body .order_wrapper .buy_process ul li {
  display: block;
  padding: 17px 0px;
  width: 80%;
  margin: 0 auto;
}
body .order_wrapper .buy_process ul .active {
  border: 1px solid rgba(239, 230, 207, 0.15);
}
body .profile_wrapper {
  display: block;
  background: #353b3d url('/img/dash_bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}
body .profile_wrapper .profile_header {
  display: block;
  padding-top: 20px;
}
body .profile_wrapper .profile_header p {
  width: 80%;
  padding: 10px 0px;
  margin: auto;
  border-bottom: 1px solid rgba(239, 230, 207, 0.15);
}
body .profile_wrapper .profile_header .profile_pic {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body .profile_wrapper .profile_header .profile_pic img {
  width: 100%;
}
body .profile_wrapper .coffee_edit {
  display: block;
  width: 95%;
}
body .profile_wrapper .coffee_edit li {
  display: inline-block;
  width: 45%;
}
body .profile_wrapper .coffee_edit li .coffee_cup,
body .profile_wrapper .coffee_edit li p {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  margin: 7px auto;
}
body .profile_wrapper .coffee_edit li .coffee_cup {
  padding: 25px;
}
body .profile_wrapper .coffee_edit li p {
  width: 60%;
  vertical-align: middle;
}
body .profile_wrapper img#profile_stats {
  width: 75%;
  margin: 25px auto 5px;
}
body .profile_wrapper .profile_cc p {
  display: inline-block;
}
body .profile_wrapper .profile_cc #credit_card {
  padding: 15px 30px;
  background: rgba(239, 230, 207, 0.2);
  margin: 15px 2px 0px 10px;
}
body .profile_wrapper .profile_cc #credit_edit {
  border: 1px solid rgba(239, 230, 207, 0.6);
  padding: 13px;
}
body .profile_wrapper .logout {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid rgba(239, 230, 207, 0.6);
  margin: 40px auto 0;
  font-size: 12px;
}
body .brewlist_wrapper {
  display: block;
  background: #353b3d url('/img/dash_bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}
body .brewlist_wrapper .profile_header {
  display: block;
  padding-top: 20px;
}
body .brewlist_wrapper .profile_header p {
  width: 80%;
  padding: 10px 0px;
  margin: auto;
}
body .brewlist_wrapper .profile_header .profile_pic {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 0px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body .brewlist_wrapper .profile_header .profile_pic img {
  width: 100%;
}
body .brewlist_wrapper ul#brewlist {
  display: table;
  margin: 10px auto;
  width: 90%;
}
body .brewlist_wrapper ul#brewlist li {
  display: table-row;
  padding: 10px;
  margin: 2px auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
body .brewlist_wrapper ul#brewlist li .brew_cell {
  display: table-cell;
  padding: 9px 10px;
  background: rgba(239, 230, 207, 0.15);
  font-size: 11px;
  vertical-align: middle;
  border-bottom: 5px solid #353b3d;
}
body .brewlist_wrapper ul#brewlist li img {
  width: 12px;
}
body .brewlist_wrapper .brew_complete {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid rgba(239, 230, 207, 0.6);
  margin: 40px auto 0;
  font-size: 12px;
}
