@import url('/reset.less');

/* COLOR PALETTE*/
@eggshell: #efe6cf;
@chocolate: #5b4d44;
@bg: #353b3d;
@bg_buy_one: #4d6b77;

.absolute{
	position: absolute;
}
.fixed{
	position: fixed !important;
}
.block{
	display: block;
}
.center{
	text-align: center;
}
.clearfix{
	clear: both;
}
.inlineblock{
	display: inline-block;
}
.left{
	float: left;
}
.right{
	float: right;
}
hr{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #414141;
	padding-bottom: 15px;
}
*{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: @eggshell;
}
h1{
	font-size: 45px;
	font-weight: 600;
	text-transform: uppercase;
}
h2{
	font-size: 30px;
	font-weight: 400;
}
h3{
	font-size: 14px;
	font-weight: 300;
}
p{
	font-size: 12px;
	font-weight: 300;
}

.clearfix{
	clear:both;
} // clearfix

.transition{
	-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
} // transition

.fasttransition{
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
	-ms-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
} // fasttransition

.notransition{
	-webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
	-ms-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
} // notransition

.borderradius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

html{
	background: rgb(236, 236, 226);
}
/* BODY */
body{
	background: rgb(236, 236, 226);
	.back{
		.block;
		.absolute;
		padding: 5px 9px;
		border:1px solid rgba(239, 230, 207, 0.3);
		.borderradius(2px);
		margin: 5px 3px;
		font-size: 13px;
		.fasttransition;
	}
	.back:hover{
		background: rgba(255, 255, 255, 0.09);
	}
	.coffee_cup{
		background: transparent url('/img/coffee_cup.png') center center no-repeat;
		background-size: contain;
		padding: 45px;
		margin: 15px 5px;
	}
	.coffee_cup_new{
		background: transparent url('/img/coffee_cup_new.png') center center no-repeat;
		background-size: contain;
		padding: 45px;
		margin: 15px 5px;
	}
	#coming_soon{
		opacity: 0;
		padding: 8px 12px;
		color: @eggshell;
		position: absolute;
		border-radius: 2px;
		z-index: 10;
		font-weight: 700;
	}
	.dash{
		width: 100%;
		padding-top: 10px;
	}
	.profile_setting{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 10px;
		right: 10px;
		background: transparent url('/img/setting.png') center center no-repeat;
		background-size: contain;
		cursor: pointer;
		opacity: 0.5;
	}
	.logout{
		.absolute;
		.inlineblock;
		padding: 7px 22px;
		border: 1px solid rgba(239, 230, 207, 0.3);
		font-size: 13px;
		.fasttransition;
		margin: 5px 3px;
		top: 0px;
		right: 1px;
		font-size: 12px;
		.borderradius(2px);
		padding: 3px 0px;
	}//logout
	.logout:hover{
		background: rgba(255, 255, 255, 0.09);
		.fasttransition;
	}
	.profile_header{
		.block;
		padding-top: 50px;
		padding-left: 30px;
		padding-right: 20px;
		text-align: center;
		p{
			padding: 10px 5px;
			.inlineblock;
		}
		.profile_pic{
			width: 35px;
			height: 35px;
			overflow: hidden;
			margin: 0px auto;
			.borderradius(50%);
			.inlineblock;
			vertical-align: middle;
			margin-left: -15px;
			img{
				width: auto !important;
				height: 100%;
				margin-left: -50%
			}
		}//profile_pic
	}//profile_header
	#login-buttons{ 
		.configure-button{
			background: none !important;
			box-shadow: none !important;
			border: 0px;
			text-shadow: none;
		}
		.login-image{
			display: none !important;
		}
		.text-besides-image{
			margin: 0px;
			font-size: 12px;
		}
		.login-display-name{
			display:none;
		}
	}//login-buttons
	#login-buttons .login-buttons-with-only-one-button .login-button{
		background: transparent;
		content: '...';
		text-shadow: none;
		border: none;
		box-shadow: none;
		font-size: 12px;
		line-height:12px;
		font-family: 'raleway' sans-serif;
		color: @eggshell;
	}//login-buttons
	.login_wrapper{
		.block;
		margin: auto;
		background: @bg url('/img/login/login_bg.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.login_logo{
			.block;
			padding: 70px 0px 20px 0px;
			.center;
			#logo_graphic{
				width: 55px;
				.block;
				margin: 0 auto;
			}//logo_title
			#logo_title{
				.block;
				width: 140px;
				margin: 0 auto;
				padding: 15px 0px 10px;
			}//logo_title
		}//login_logo
		.login_input{
			.block;
			text-align: center;
			#login_user, #login_store{
				.block;
				margin: 6px auto;
				padding: 20px 0px;
				width: 80%;
				.borderradius(2px);
				font-weight: 500;
				font-size: 13px;
				border: 1px solid rgba(239,230,207,0.45);
			}
			#login_user{
				//background-color: rgba(239,230,207,0.3);
				.fasttransition;

			}
			#login_user:hover{
				background-color: rgba(239,230,207,0.05);
				.fasttransition;
			}
			#login_store{
				.fasttransition;
				background: rgba(239, 230, 207, 0.14);
			}
			#login_store:hover{
				background-color: rgba(239,230,207,0.65);
				.fasttransition;
				color: @chocolate;
			}
			input {
				padding: 18px 0px;
				background-color: rgba(239,230,207,0.05);
				margin: 3px auto;
				.center;
				.borderradius(2px);
				width: 80%;
				font-size: 13px;
				border: 1px solid rgba(202, 202, 202, 0.4);

			}
			input[type="submit"]{
				background-color: transparent;
				border: 1px solid @eggshell;
				font-size: 14px;
				.transition;
			}
			input[type="submit"]:hover{
				background: rgba(91, 77, 68, 0.2);
			}
		}//login_input
		#copyright{
			.block;
			.absolute;
			bottom: 10px;
			text-align: center;
			margin: 0 auto;
			font-size: 11px;
			width: 300px;
			left: 50%;
			margin-left: -150px;
		}
	}//login_wrapper
	.dashboard_wrapper{
		.transition;
		.block;
		background: @bg url('/img/dash_bg.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.center;
		#section_divider{
			width:100%;
			margin-top: 20px;
		}//section_divider
		.profile_header{
			.block;
			padding-top: 20px;
			padding-left: 30px;
			padding-right: 20px;
			text-align: center;
			p{
				padding: 10px 5px;
				.inlineblock;
			}
			.profile_pic{
				width: 35px;
				height: 35px;
				overflow: hidden;
				margin: 0px auto;
				.borderradius(50%);
				.inlineblock;
				vertical-align: middle;
				margin-left: -15px;
				img{
					width: 100%;
				}
			}//profile_pic
		}//p
		.quick_brew{
			ul{
				.block;
				width: 100%;
				overflow-x: hidden;
				li{
					.inlineblock;
					margin: 5px 5px;
					.fasttransition;
					cursor: pointer;
					p{
						font-size: 12px;
						padding-bottom: 5px;
						span{
							font-weight: 600;
							margin: 0px 2px;
						}
					}//p
				}//li
				li:hover{
					background: rgba(255, 255, 255, 0.07);
					.borderradius(8px);
					.coffee_cup{
						opacity: 0.1;
					}
					p#coming_soon_text{
						opacity: 0.1;
					}
					#coming_soon{
						opacity: 1;
						margin-top: 59px;
					}
				}//li
			}//ul
		}//quick_brew
		.user_notification{
			.block;
			margin: 10px auto;
			.notification_wrapper{
				.block;
				.borderradius(2px);
				padding: 17px 17px 10px 17px;
				background: rgba(207, 220, 239, 0.15);
				width: 80%;
				margin: 22px auto;
				li{
					.block;
					margin-bottom: 8px;
					img{
						.inlineblock;
						width: 15px;
						float: left;
						text-align: left;
					}
					p{
						.inlineblock;
						text-align: left;
						font-size: 12px;
						vertical-align: top;
						width: 80%;
						line-height: 11px;
						span{
							font-size: 10px;
							font-style: italic;
						}
					}//p
				}//li
			}//notification_wrapper
		}//user_notification
	}//dashboard_wrapper
	.order_wrapper{
		.transition;
		.block;
		//background: @bg_buy_one;
		width: 100%;
		height: 100vh;
		.center;
		#buy_one{
			background: #37424B;
		}//buy_one
		#buy_two{
			background: #454c4e;
			.buy_header{
				img{
					width: 60px;
					margin-bottom: 10px;
				}
			}//buy_header
		}//buy_two
		#buy_three{
			background: #4d6c6b;
			.buy_header{
				img{
					width: 110px;
					margin-bottom: 10px;
				}
			}//buy_header
			ul{
				li:first-child{
					background: transparent url('/img/cup_small.png') 20px center no-repeat;
					background-size: 18px;
				}
				li:nth-child(2){
					background: transparent url('/img/cup_medium.png') 20px center no-repeat;
					background-size: 18px;
				}
				li:nth-child(3){
					background: transparent url('/img/cup_large.png') 20px center no-repeat;
					background-size: 18px;
					
				}
				li:nth-child(4){
					background: transparent url('/img/cup_xlarge.png') 20px center no-repeat;
					background-size: 18px;
				}
			}//ul
		}//buy_three
		#buy_four{
			background: #44403E;
		}
		#buy_confirm{
			background: #353b3d;
			.confirm_item{
				padding: 40px 40px 30px;
				.coffee_cup{
					margin-top: 0px;
				}
			}//confirm_item
			.item_price{
				.block;
				padding: 10px;
				background: rgba(239,230,207,0.15);
				#coffee_graphic{
					width: 15px;
				}
				#coffee_purchase{
					height: 10px;
				}
				h2{
					.block;
					padding: 5px;
					font-weight: 200;
					font-size: 45px;
					margin-top: -12px;
				}
			}//item_price
			#brew_coffee{
				width: 25%;
				margin: 40px auto 0;
				border: 2px solid rgba(239,230,207,0.4);
				padding: 18px 35px;
				cursor: pointer;
				.transition;
			}
			#brew_coffee:hover{
				background: rgba(255, 255, 255, 0.06);
			}
		}//buy_confirm
		.buy_process{
			height: 100vh;
			max-height: 640px;
			.buy_header{
				.block;
				padding: 30px 0px 10px 0px;
				width: 70%;
				margin: 0 auto;
				border-bottom: 1px solid rgba(239,230,207,0.15);
				img{
					width: 40px;
				}
			}//buy_header
			ul{
			margin: 25px auto;
				li{
					.block;
					padding: 17px 0px;
					width: 80%;
					margin: 0 auto;
					.transition;
					cursor: pointer;
					border: 1px solid transparent;
				}//li
				.active, li:hover{
					border: 1px solid rgba(239,230,207,0.15);
				}//active
			}//ul
		}//buy_process
	}//order_wrapper
	.profile_wrapper{
		.transition;
		.block;
		background: rgb(58, 55, 57) url('/img/profile_bg.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.center;
		.profile_header{
			padding-bottom: 10px;
		}
		.coffee_edit{
			.block;
			width: 95%;
			margin: auto;
			li{
				.inlineblock;
				width: 45%;
				.transition;
				cursor: pointer;
				.coffee_cup,p{
					.inlineblock;
					vertical-align: middle;
					margin: 7px auto 9px;
				}
				.coffee_cup{
					padding:25px;
				}
				p{
					width: 60%;
					vertical-align: middle;
					text-align: left;
				}
			}//li
			li:hover{
				.borderradius(4px);
				background-color: rgba(255, 255, 255, 0.09);
				.coffee_cup{
					opacity: 0.05;
				}
				p{
					opacity: 0.05;
				}
				#coming_soon{
					opacity: 1;
					margin-top: 21px;
					margin-left: 22px;
				}
			}//li
		}//coffee_edit
		
		img#profile_stats{
			width: 65%;
			margin: 21px auto 5px;
		}
		.profile_cc{
			p{
				.inlineblock;
			}
			#credit_card{
				padding: 15px 30px;
				background: rgba(239,230,207,0.2);
				margin: 15px 2px 0px 10px;
			}
			#credit_edit{
				border: 1px solid rgba(239,230,207,0.6);
				padding: 13px;
				.fasttransition;
				font-size: 13px;
			}
			#credit_edit:hover{
				background: rgba(255, 255, 255, 0.09);
			}
		}//profile_cc
	}//profile_wrapper
	.brewlist_wrapper{
		.block;
		background: rgb(71, 76, 78) url('/img/store_bg.png') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		.center;
		.profile_header{
			.block;
			padding-top: 20px;
			p{
				width: 80%;
				padding: 10px 0px;
				margin: auto;
			}//p			
			.profile_pic{
				.block;
				width: 75px;
				height: 75px;
				overflow: hidden;
				margin: 0px auto;
				.borderradius(50%);
				img{
					width: 100%;
				}//img
			}//profile_pic
		}//profile_header
		ul#brewlist{
			display:table;
			margin: 10px auto;
			width: 90%;
			li{
				display: table-row;
				padding: 10px;
				margin: 2px auto;
				.borderradius(3px);
				.fasttransition;
				cursor: pointer;
				background: rgba(239, 230, 207, 0.15);
				p:first-child{
					background: transparent url('/img/mono_coffee_cup.png') 10px center no-repeat;
					background-size: 13px;
				}
				.brew_cell{
					display: table-cell;
					padding: 9px 8px;
					font-size: 11px;
					vertical-align: middle;
					border-bottom: 5px solid rgb(71, 76, 78);
				}//brew_cell
				.brew_cell:first-child{
					padding-left: 25px;
				}
				img{
					width: 12px;
				}
			}//li
			li:hover{
				background: rgba(239, 230, 207, 0.35);
			}
		}//brewlist
		.brew_complete{
			.inlineblock;
			padding: 10px 30px;
			border: 1px solid rgba(239, 230, 207, 0.6);
			margin: 40px auto 0;
			font-size: 12px;
			.transition;
		}
		.brew_complete:hover{
			background: rgba(255, 255, 255, 0.09);
		}
	}//brewlist_wrapper

	.wrapper{
		max-width: 400px;
		margin-top: 40px;
		margin-bottom: 20px;
		max-height: 640px;
		margin-left: auto;
		margin-right: auto;
		position:relative;
		-webkit-box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    7px 7px 0px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         7px 7px 0px 0px rgba(50, 50, 50, 0.75);
	}
}//body

@media(max-width: 400px){
	.wrapper{
		margin: 0px !important;
	}
}
